# Mac files
.DS_Store

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Local configuration file (sdk path, etc)
local.properties

# Eclipse project files
.classpath
.project
.settings
.checkstyle

# IntelJ project files 
.idea
*.iml
out

.gradle
